header {
    height: 70px;
    background-color: #f8f9fa;
}

.mc-navbar .container-fluid {
    background-color: white;
}

.mc-navbar .searchbar {
    background-color: #e5e5e5;
    border: none;
}

.sidebar {
    width: 160px;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.main-container {
    width: calc(100vw - 160px);
    height: calc(100vh - 70px);
}

.main-container .banner {
    background-color: #1a73e8;
    color: white;
}

.mc-table {
    table-layout: auto;
}

.mc-table thead {
    border-bottom-color: black;
}

.mc-table .t-col-class {
    width: 100%;
}