header {
    height: 70px;
    background-color: #f8f9fa;
}

.mc-navbar .container-fluid {
    background-color: white;
}

.mc-navbar .searchbar {
    background-color: #e5e5e5;
    border: none;
}

.sidebar {
    font-family: 'Poppins', sans-serif;
    height: calc(100vh - 70px);
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

.banner .banner-btn {
    text-decoration: none;
    color: white;
    background-color: #00000037;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem ;
}

.mc-container {
    width: 100vw;
}

.main-container {
    height: calc(100vh - 70px);
    font-family: 'Roboto', sans-serif;
}

.main-container .banner {
    background-color: #1a73e8;
    color: white;
}

.mc-card {
    border-radius: 5px;
}

.mc-table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.mc-table thead {
    border-bottom-color: black;
}

.mc-table td {
    white-space: nowrap;
}

.mc-table .t-col-class {
    width: 100%;
}

.todo .card-content {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.todo .card-content div:not(:last-child) {
    border-bottom: 1px solid lightgray;
}